SECRET_KEY=secretfoo
DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost
TRUSTED_HOSTS=http://localhost

NAME_DB=name
USER_DB=user
PASSWORD_DB=pass
HOST_DB=db
PORT_DB=port
ENGINE_DB=django.db.sql3


POSTGRES_DB=db
POSTGRES_USER=user
POSTGRES_PASSWORD=pass
POSTGRES_PORT=port
DATABASE=database